<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Inventory Tracker+</title>
        <link rel = "stylesheet" href= "/css/site.css"/>
    </head>
    <body>
        <%- include("partials/header.ejs") %>
        <section>
            <h2>Contact Us</h2>
            <p>Fill out with contact information zoon...</p>
        </section>
        <%-include("partials/footer.ejs")%>
    </body>
</html>