<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Inventory Tracker+</title>
        <link rel = "stylesheet" href= "/css/site.css"/>
    </head>
    <body>
        <%- include("partials/header.ejs") %>
        <section>
            <h2>View Current Stock</h2>
            <section>
                <p>This is the page to view the current stock</p>
                <p>It should be a very dynamic page with a list of current items in the businesses inventory</p>
                <p>TODO: Connect to API/DAL</p>
            </section>
        </section>
        <%-include("partials/footer.ejs")%>
    </body>
</html>