:root {
    --main-bg: #2e2b2e;
    --main-color: #f3f1f3;
    --main-accent: #999999;
}

* {
    background-color: var(--main-bg);
    color: var(--main-color);
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.stock-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--main-accent);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.restock-amount {
    font-weight:lighter;
    color: var(--main-accent);
    font-style: italic;
    font-size: smaller;
}