:root {
    --main-bg: #2e2b2e;
    --main-color: #6d1792;
    --main-accent: #999999;
}

* {
    background-color: var(--main-bg);
    color: var(--main-color);
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}