:root {
    --main-bg: #2e2b2e;
    --main-color: #f3f1f3;
    --main-accent: #999999;
}

body {
    background-color: var(--main-bg);
    color: var(--main-color);
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header {
    margin: 0px 0px 3rem 0px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
footer {
    margin: 3rem 0 0 0;
    padding: 2rem;
    background-color: #222;
    text-align: center;
}
img {
    max-width: 20rem;
    max-height: 20rem;
}
.stock-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--main-accent);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.restock-amount {
    font-weight:lighter;
    color: var(--main-accent);
    font-style: italic;
    font-size: smaller;
}