<header>
    <img src="/images/logo.webp" alt="Site Logo" id="logo" />
    <div class="site-header">
        
        <h1>Inventory Tracker+</h1>
        
    </div>
    <nav>
        <ul>
            <li>
                <a href="/">Home Page</a>
            </li>
        </ul>
    </nav>
</header>