<header>
    <img src="/images/badass_skeleton.webp" alt="Site Logo" id="logo" />
    <div class="site-header">
        
        <h1>Inventory Tracker+</h1>
        
    </div>
    <nav>
        <a href="/"><button class="nav-button">Home Page</button></a>
        <a href="/inventory"><button class="nav-button">Inventory</button></a>
    </nav>
</header>